.top-section{
    width: auto;
    height: 481px;
    background-image: url(images/cover.png);
}
.top-text{
    color: #FFDF00;
    font-size: 3rem;
    margin-top: 15rem;
    outline: invert;
}
.player-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.mid-container{
    display: flex;
}
body{
    background-color:#191919;
    margin: auto;
    padding: auto;
}

.mid-container{
    background-color:#191919;
}
.marker{
    display: flex;
    justify-content: center;
    margin-top: -17px;
}
.input-field{
    width: 80px;
    height: 40px;
    padding: 0px 10px;
    background-color: black;
    border: 2px solid white;
    border-radius: 2px;
    margin-top: -5px;
}

.calculation-area{
    margin: auto;
}
.aside-container{
    max-width: 19rem;
    width: auto;
}
